.container{
  font-family:"Lucida Console", Courier, monospace;
}

.equalButton{
    padding: 1px 6px 1px 6px;
    background: no-repeat 5px center;
    background-color: black;
    border-radius: 8px;
}

.equalButton img{
    width: 100px;
    height: 100px;
    vertical-align: middle;
}​

.jumbotron {
    background-color:transparent !important;
    font-family:Courier;
}

#holiday {
  font-size: 65px;
  font-family:American Typewriter, serif;
  text-align: center;
}

#header {
  font-family: 'Nova Flat';font-size: 70px;
}

#datepicker {
  position: relative;
  left: 650px;

}

.btn{
  position:relative;
  left:685px;
  background-color: white !important;
  border-color: teal !important;
  font-family: verdana !important;
  color: teal !important;
}

#secondhalf {
  position: relative;
  background-image: url("backgroundart.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
