.container{
  font-family:"Lucida Console", Courier, monospace;
}

.ui-datepicker {
  margin-left: 100px;
  z-index: 1000;
}
.equalButton{
    padding: 1px 6px 1px 6px;
    background: no-repeat 5px center;
    background-color: black;
    border-radius: 8px;
}

.equalButton img{
    width: 100px;
    height: 100px;
    vertical-align: middle;
}​

.jumbotron {
    background-color:transparent !important;
    font-family:Courier;
}

#holiday {
  font-size: 65px;
  font-family:American Typewriter, serif;
  text-align: center;
}

#header {
  font-size: 60px;
  font-family:American Typewriter,serif;
}
